body {
  background-color: rgba(197, 197, 197, 0.4);
}

.header {
  display: flex;
  border-bottom: 1px solid rgb(200, 124, 0);
}

.header_icon h1{
    color: #FF7C00;
    background: -webkit-linear-gradient(top, #FFB76B 0%, #FFA73D 50%, #FF7C00 51%, #FF7F04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Comic Sans MS';
    font-size: 42px;
    margin: 30px 0 10px 250px;
  }

.devise {
  margin: 50px 0 10px 500px;
}

.select-box {
  text-decoration: none;
  font-family: '游明朝体';
  font-size: 18px;
  margin: 0 15px 0 15px;
  padding: 10px;
  border: solid 1px rgb(65, 65, 65,0.6);
  border-radius: 3px;
  color: rgb(65, 65, 65);
}

.search_new_judgment_box {
  display: flex;
  border-bottom: 1px solid rgb(200, 124, 0);
}

.search-input {
  margin: 20px 0 0 350px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgba(197, 197, 197, 0.4);
  border: solid 1px rgb(65, 65, 65, 0.6);
  border-radius: 3px;
}

.judgment_box {
  margin: 26px 0 25px 450px;
}

.new_judgment {
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  color: rgb(29, 29, 29);
  font-family: '游明朝体';
  border: solid 1px rgb(65, 65, 65, 0.6);
  border-radius: 3px;
}

.catch_copy_box {
  width: 600px;
  margin: 40px auto 0;
  color: rgb(29, 29, 29);
  font-family: '游明朝体';
  border: solid 1px rgb(65, 65, 65, 0.6);
  border-radius: 5px;
  padding: 10px 20px;
}

.catch_copy_box h1 {
  text-align: center;
}

.catch_copy_box p {
  text-align: center;
}

